* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.header_background {
  background-image: url(/resources/hockey_3.jpg);
  background-position: center;
  background-size: cover;
  height: 40vh;
  font-size: 26px;
  color: white;
}

.header_background h1 {
  color: black;
  margin-left: 10px;
}

.header_tittle {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;
  height: 40px;
}

nav {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerBody_Left {
  width: 100%;
  height: 52vh;
  padding-top: 50px;
}

.containerBody_Left p {
  margin-right: 100px;
  font-size: 18px;
  padding-left: 10px;
}

.containerBody_Left li {
  margin-left: 50px;
  list-style-type: none;
  font-size: 16px;
  padding-top: 25px;
}

.containerBody {
  display: flex;
}

.menu ul {
  list-style-type: none;
}

.menu li {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header_tittle {
  position: relative;
}

.header_tittle img {
  position: absolute;
  top: -35px;
  right: 10px;
  width: 120px;
}

.containerBody_Left p {
  text-indent: 20px;
  font-size: 16px;
  width: 80%;
  margin-top: 10px;
}

.containerBody_Left article {
  padding-top: 12px;
}

table {
  width: 100%;
}

td {
  text-align: center;
  font-size: 18px;
}

th {
  font-size: 20px;
}

span {
  font-size: 18px;
}

.contact {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.containerBody_left_tittle {
  text-align: center;
}

.container_text {
  margin-left: 50px;
  margin-top: 40px;
}

.container_text_subtittle {
  font-size: 18px;
  font-weight: bold;
}

.container_regulations {
  margin-top: 40px;
}

.container_allPlay {
  margin-top: 40px;
}

.container_allPlay_note {
  margin-left: 20px;
}

.containerBody_left_tittle {
  font-size: 18px;
}

.containerBody_Left_tittleSchedule {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.ubicationMap {
  width: 100%
}

thead tr th {
  text-align: center;
}

button.btn.btn-primary {
  background-color: transparent;
  color: grey;
  float: right;
  border: none;
}


/*---------------------- LOGIN ----------------------*/

form h2 {
  text-align: center;
}

.registerForm {
  margin-left: 50px;
  margin-right: 50px;
}

.formLine {
  display: flex;
}

.formLine div {
  margin-right: 20px;
}

#birthDateAndGender select {
  margin-top: 25px;
}

#signature {
  width: 250px;
  margin-top: 20px;
}

#formButtons {
  display: flex;
  justify-content: center;
}

#formButtons button {
  margin: 10px;
  border: solid 1px;
}

#formButtons button:hover {
  transition: 0.5s;
  background-color: gray;
}

body {
  background-color: #dee9ff;
}

.advice {
  text-align: center;
}

.menu ul li a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}